* {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

article {
    text-align: center;
    padding-top: 40px;
}

ul {
    list-style-type: none;
}

button{
    background-color: rgb(5, 209, 138);
    border-radius: 25px;
    margin: 5px;
}